body{
    background-color: aqua;
    /* margin: 0px;
    border: 0px; */
}
 .container{
    /* background-color: aqua; */
    display:grid;
    justify-content: center; 
} 
.head{
    padding-top: 30px;
    margin-left: 110px;
}

.first{
    padding-top: 50px;
    /* box-sizing: border-box; */
margin-left: 45px;


}
.second{
    padding-top: 20px;
    /* box-sizing: border-box; */
    margin-left: 50px;
}
.third{
    padding-top: 20px;
    /* box-sizing: border-box; */
    margin-left: 55px;
}
.fourth{
    padding-top: 20px;
    /* box-sizing: border-box; */
    margin-right: 100px;
}
.five{
    padding-top: 50px;
    margin-left: 170px;
    /* border: 1px solid black; */
}
.clock{
    padding-left: 400px;
}