.outer{
    display:grid;
    justify-content: center;
}
.data{
    display: none;
    padding:20px;
}
.head{
    padding-top: 50px;
    margin-left: 100px;
}
.first{
    padding-top: 30px;
    margin-left: 20px;
}
.wrapper{
    padding-top: 20px;
    /* margin-left: 20px; */
}
.second{
    padding-top: 20px;
}
.third{
    padding-top: 20px;
    margin-left: 40px;
} 
.four{
    padding-top: 40px;
    margin-left: 130px;

}